HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Environment variables (contains DB passwords, secrets, etc.)
.env
.env.local
*.env

# Docker secrets folder (contains plain-text passwords)
secrets/
secrets/*
compose-test.yml
Dockerfiletest
Dockerfiletest2


.github/workflows/build.yml
.github/workflows/build-one.yml
.github/workflows/main.yml